@import 'tailwindcss';
@import '../node_modules/@coraline-ui/core/assets/css/ui';
@source '../node_modules/@coraline-ui';

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 700;
}

.single-img {
  background-repeat: no-repeat;
  background-position: 50%;
  --webkit-background-size: cover;
  background-size: cover;
  animation: animate ease-in-out var(--duration) 0s infinite;
  --webkit-backface-visibility: hidden;
}

@keyframes animate {
  0% {
    transform: scalex(1);
  }
  67% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
